{
  "presets": [[
    "env", {
      "targets": {
        "browsers": [ "IE 9" ]
      },
      "modules": false,
      "loose": true
    }
  ]],
  "plugins": [],
  "ignore": [
    "dist/*.js",
    "node_modules/**/*.js"
  ]
}
